%div#homePage.page

  .action-container
    #searchFlight.image-button.flight
      %span Search Flight
    #flightStatus.image-button.status
      %span Flight Status
    #loungeFinder.image-button.lounge
      %span Find Lounge
    #findAirport.image-button.search
      %span Find Airport